@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url("/src/images/section-hero/section-hero-background.png");
    background-size: cover;
    background-position: center center;
  }
  .section-hero-container {
    width: 1921px;
    margin: 0 auto;
  }
  .navbar-nav {
    margin-left: 65px;
    gap: 62px;
  }
  .navbar-nav .nav-item {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }
  .navbar-nav .nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
  }
  .navbar-nav .nav-item:hover::after {
    background-color: white;
  }
  .navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
  }
  .section-hero-wrapper {
    margin-top: 140px;
    width: 100%;
  }
  .line-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 369px;
    width: 4px;
    margin-left: 71px;
  }
  .line {
    width: 4px;
    height: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    background: rgb(221, 34, 66);
  }
  .line-2 {
    width: 2px;
    height: 196px;
    background: rgb(255, 255, 255), rgb(255, 255, 255);
  }
  .zero-one {
    margin-top: 20px;
    width: 17px;
    height: 21.01px;
  }
  .title-wrapper {
    margin-left: 205px;
    width: 630px;
  }
  .title-wrapper h1 {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 120px;
    font-weight: 900;
    line-height: 130px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 21px;
  }
  .title-wrapper .h1-button {
    min-width: 271.14px;
    height: 82px;
    border-radius: 211px;
    background: rgb(221, 34, 66);
    color: rgba(255, 255, 255, 0.8);
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .video-wrapper-section-hero {
    margin-top: 241px;
  }
  .video-wrapper-section-hero .language-wrapper {
    display: block;
    width: 131px;
    height: 21.01px;
    margin-left: 65px;
    margin-top: 35px;
  }
  .time-codes {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
    margin-left: 190px;
    width: 1225.64px;
    height: 210px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    opacity: 0.6;
  }
  .time-codes .time-codes-list {
    margin-top: 41px;
    gap: 198px;
  }
  .time-codes .time-codes-list .time-codes-list-item {
    width: 210.11px;
  }
  .time-codes .time-codes-list .time-codes-list-item p {
    color: rgb(221, 34, 66);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .time-codes .time-codes-list .time-codes-list-item h4 {
    color: rgb(255, 255, 255);
    font-family: "DM Sans", sans-serif;
    font-size: 26.41px;
    font-weight: 700;
    line-height: 41.08px;
    letter-spacing: 0px;
    text-align: left;
  }
  .time-codes .time-codes-list .time-codes-list-item span {
    color: rgb(147, 147, 147);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .video {
    position: relative;
    background: url("/src/images/section-hero/section-hero-video.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 417.22px;
    height: 254px;
  }
  .video img {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
ul {
  list-style: none;
}

.explore-container {
  width: 1446px;
  margin: 0 auto;
  padding-top: 127px;
}

.section-explore {
  background: url("/src/images/section-explore/section-explore-background.png");
  background-size: cover;
  height: 2207px;
}

.explore-title {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin-left: 170px;
  margin-top: 45px;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.By-The-Numbers {
  background-color: rgba(2, 12, 33, 0.9);
  width: 1922px;
  height: 794px;
  margin-left: -230px;
  margin-top: 960px;
}
.By-The-Numbers_title {
  font-family: "DM Sans", sans-serif;
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 201px;
}
.By-The-Numbers_paragraph {
  color: #E0E0E0;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 37px;
}

.By-The-Numbers-list {
  display: flex;
  gap: 128px;
  margin-left: 322px;
  margin-top: 39px;
}
.By-The-Numbers-list_title {
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  color: #DD2242;
  text-align: center;
}
.By-The-Numbers-list_paragraph {
  color: #E0E0E0;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.gallery {
  width: 1170px;
  height: 770px;
}

.gallery-box {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Photo-Gallery {
  width: 1920px;
  height: 1388px;
}

.title {
  margin-top: 104px;
  text-align: center;
  flex-direction: row;
}

.title-h2 {
  color: rgb(1, 10, 32);
  font-family: "DM Sans", sans-serif;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.Paragraph-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Paragraph {
  text-align: center;
  width: 511px;
  height: 47px;
  color: rgb(111, 119, 135);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1%;
}

.girls-sea,
.volcano-mountains,
.man-fog {
  width: 370px;
}

.mountains,
.fog,
.sea {
  margin-top: 30px;
}

.girls,
.mountains {
  height: 530.69px;
}

.volcano,
.sea {
  height: 210.27px;
}

.man-fog {
  height: 370.48px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
}/*# sourceMappingURL=index.css.map */