<section class="section">
    <div class="container">
        <div class="map">
            <h2 class="map__title" data-aos="fade-up" data-aos-duration="1100">Our hills and valleys are like nothing you’ve seen.</h2>
            <p class="map__description" data-aos="fade-up" data-aos-duration="1200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet magna commodo, tempus dolor sit amet, laoreet elit. Donec mauris tortor.</p>
            <div class="map__div-button" data-aos="zoom-in-up" data-aos-duration="1300">
                <button type="button" class="map__button" >Learn More</button>
            </div>
        </div>
    </div>
</section>