<section class="section-explore">
    <div class="explore-container">
        <h2 class="explore-title">Explore Our Secrets</h2>
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                <li class="card">
                    <img src="/src/images/section-explore/carousel-png.png" alt="img" class="card-img">
                </li>
                <li class="card">
                    <img src="/src/images/section-explore/carousel-png-second.png" alt="img" class="card-img">
                </li>
                <li class="card">
                    <img src="/src/images/section-explore/carousel-png-third.png" alt="img" class="card-img">
                </li>
                <li class="card">
                    <img src="/src/images/section-explore/carousel-png.png" alt="img" class="card-img">
                </li>
                <li class="card">
                    <img src="/src/images/section-explore/carousel-png-second.png" alt="img" class="card-img">
                </li>
                <li class="card">
                    <img src="/src/images/section-explore/carousel-png-third.png" alt="img" class="card-img">
                </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
        <div class="By-The-Numbers">
            <h2 class="By-The-Numbers_title">By The Numbers</h2>
            <p class="By-The-Numbers_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Fusce
                commodo
                magna et libero.Lorem ipsum <br> dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="By-The-Numbers-list">
                <li class="By-The-Numbers-list_item">
                    <h3 class="By-The-Numbers-list_title">100+</h3>
                    <p class="By-The-Numbers-list_paragraph">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
                        Fusce <br>commodo magna et libero.</p>
                </li>
                <li class="By-The-Numbers-list_item">
                    <h3 class="By-The-Numbers-list_title">43,000+</h3>
                    <p class="By-The-Numbers-list_paragraph">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Fusce commodo.</p>
                </li>
                <li class="By-The-Numbers-list_item">
                    <h3 class="By-The-Numbers-list_title">30+</h3>
                    <p class="By-The-Numbers-list_paragraph">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
                        Fusce <br>commodo magna et libero.</p>
                </li>
            </ul>
        </div>
    </div>
</section>