<section class="articles">
  <div class="section-artuiles-container">
    <div class="articles__part-one flex">
      <div class="articles__part-one-content flex">
        <picture>
          <source srcset="/src/images/section-articles/Rectangle9@1x.png" media="(max-width: 480px)">
          <source srcset="/src/images/section-articles/Rectangle9@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="/src/images/section-articles/Rectangle9@3x.png" media="(min-width: 1200px)">
          <img src="/src/images/section-articles/Rectangle9@1x.png" alt="View">

        </picture>
        <div class="articles__part-one__text ">
          <h3>The walkways of Indonesia spellbind</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero mollis rhoncus.
          </p>
          <button class="articles__button" >Learn More</button>
        </div>
      </div>
    </div>
    <div class="articles__part-two flex">
      <div class="articles__part-two-content flex">
        <div class="articles__part-two__text ">
          <h3>Perfect beaches exude relaxation and fun</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero mollis rhoncus. </p>
          <button class="articles__button" >Learn More</button>
        </div>
        <picture>
          <source srcset="/src/images/section-articles/Rectangle10@1x.png" media="(max-width: 480px)">
          <source srcset="/src/images/section-articles/Rectangle10@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="/src/images/section-articles/Rectangle10@3x.png" media="(min-width: 1200px)">
          <img src="/src/images/section-articles/Rectangle10@1x.png" alt="View" >
  
        </picture>
    
      </div>
    </div>
  </div>
</section>