<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../sass/components/_section-gallery.css">

</head>

<body>
    <div class="Photo-Gallery">
        <div class="title">
            <h2 class="title-h2">Photo Gallery</h2>
        </div>
        <div class="Paragraph-box">
        <div class="Paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget
            tincidunt.
        </div>
    </div>
    <div class="gallery-box">
        <div class="gallery">
            <div class="girls-sea">
                <img class="girls" src="../images/gallery/girls.jpeg" alt="">
                <img class="sea" src="../images/gallery/sea.jpeg" alt="">
            </div>
            <div class="volcano-mountains">
                <img class="volcano" src="../images/gallery/volcano.jpeg" alt="">
                <img class="mountains" src="../images/gallery/mountains.jpeg" alt="">
            </div>
            <div class="man-fog">
                <img class="man" src="../images/gallery/man.jpeg" alt="">
                <img class="fog" src="../images/gallery/fog.jpeg" alt="">
            </div>
        </div>
    </div>
    </div>
</body>

</html>