<section class="section-video">
    <div class="container">
        <div class="video">
        <p>Live a life like you wouldn’t imagine, experience a <br> life you wouldn’t expect.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rBoYIDWghZc?si=7VOziNKDH4uo6S45"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <ul>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/0-WRSMoyOEA?si=Pd2yVGLWdz4ZX55b"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h5>In The Country</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.
                </p>
            </li>
            <li><iframe width="560" height="315" src="https://www.youtube.com/embed/jqCpcRgpzvg?si=A9vCgrzu4Q2sHEk6"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h5>In The City</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in.</p>
            </li>
        </ul>
    </div>
    </div>

</section>