<section class="articles">
    <div class="articles__part1 flex"><picture>
        <source srcset="../images/Rectangle9@1x.png" media="(max-width: 480px)">
        <source srcset="../images/Rectangle9@2x.png" media="(min-width: 843px) and (max-width: 1199px)" >
        <source srcset="../images/Rectangle9@3x.png" media="(min-width: 1200px)">
        <img src="../images/Rectangle9@1x.png" alt="View">

      </picture></div>
    <div class="articles__part2 flex"><picture>
      <source srcset="../images/Rectangle10@1x.png" media="(max-width: 480px)">
      <source srcset="../images/Rectangle10@2x.png" media="(min-width: 843px) and (max-width: 1199px)" >
      <source srcset="../images/Rectangle10@3x.png" media="(min-width: 1200px)">
      <img src="../images/Rectangle10@1x.png" alt="View">

    </picture></div>
</section>