
.explore-container{
    width: 1446px;
    margin: 0 auto;
    outline: 2px solid red;
    padding-top: 127px;
}
.section-explore{
    background: url('/src/images/section-explore/section-explore-background.png');
}
.explore-title{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}