ul{
    list-style: none;
}
.explore-container{
    width: 1446px;
    margin: 0 auto;
    padding-top: 127px;
}
.section-explore{
    background: url('/src/images/section-explore/section-explore-background.png');
    background-size: cover;
    height: 2207px;
}
.explore-title{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin-left: 170px;
  margin-top: 45px;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img{

}
.By-The-Numbers{
    background-color: rgba(2, 12, 33, 0.90);
    width: 1922px;
    height: 794px;
    margin-left: -230px;
    margin-top: 960px;
    &_title{
        font-family: 'DM Sans', sans-serif;
        font-size: 60px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 201px;
    }
    &_paragraph{
        color: #E0E0E0;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        text-align: center;
        margin-top: 37px;
    }
}
.By-The-Numbers-list{
    display: flex;
    gap: 128px;
    margin-left: 322px;
    margin-top: 39px;
    &_title{
        font-family: 'DM Sans', sans-serif;
        font-size: 42px;
        color: #DD2242;
        text-align: center;
    }
    &_paragraph{
        color: #E0E0E0;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        text-align: center;
    }
}
