.hero {
  padding-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)),
    url('/src/images/section-hero-background.png');
  background-size: cover;
  background-position: center center;
  height: 1080px;
}
.navbar-nav {
  margin-left: 65px;
  gap: 62px;
  .nav-item {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    .nav-link {
      color: rgb(255, 255, 255);
    }
  }
}
